{# inject tenant in migration script #}
{% if 'multitenancy' in values.application and 'enabled' in values.application.multitenancy and values.application.multitenancy.enabled == true and values.application.multitenancy.type == 'column' -%}
{% set tenant_name = (values.application.multitenancy.alias | default('company')) | snake_case -%}
---
message: "Migration script `01_create_entities.sql` was injected with multitenancy changes."
injections:
- into: {{ values.outputFolder }}/migrations/01_create_entities.sql
  after_all: "updated_at TIMESTAMPTZ DEFAULT NOW"
  content: "\t{{ tenant_name }}_id INTEGER,\n\tFOREIGN KEY({{ tenant_name }}_id) REFERENCES {{ tenant_name | plural | snake_case }}(id),"
---
// Add tenant_id to the entity
{% endif -%}