{% set file_name= values.outputFolder ~"/Cargo.toml" %}
to: {{file_name}}
message: "File `{{file_name}}` was created successfully."
---
[package]
name = "{{ values.application.name }}"
version = "0.1.0"
edition = "2021"
publish = false

[profile.release]
codegen-units = 1
lto = true
strip = true
debug = false
panic = "abort"

[dependencies]
anyhow = "1.0"
sea-orm = "1.1"
serde = { version = "1", features = ["derive"] }
spring = "0.3.0"
spring-opentelemetry = "0.3.0"
spring-sea-orm = { version = "0.3.0", features = ["postgres","with-web",] }
spring-web = "0.3.0"
tokio = { version = "1.41" }