{% set file_name = '02_add_multitenancy_support.sql' -%}
{% if 'multitenancy' in values.application and 'enabled' in values.application.multitenancy and values.application.multitenancy.enabled == true and values.application.multitenancy.type == 'column' -%}
message: "Sql file `{{ file_name }}` was added successfully."
injections:
- into: {{ values.outputFolder }}/config/development.yaml
  replace: "postgres:postgres"
  content: "tenant_user:password"
- into: {{ values.outputFolder }}/config/production.yaml
  replace: "postgres:postgres"
  content: "tenant_user:password"
---
// Change config user

{% endif -%}