{# inject tenant in controller.rs #}
{% if 'multitenancy' in values.application and 'enabled' in values.application.multitenancy and values.application.multitenancy.enabled == true and values.application.multitenancy.type == 'column' -%}
{% set tenant_name = (values.application.multitenancy['entity-alias'] | default('company')) | snake_case -%}
{% for entity_name,entity in entities | items | rejectattr("0","eq", tenant_name) | rejectattr("0","in", values.application.multitenancy['skip-injection-for-models']) -%}
{% set file_name = entity.title | snake_case -%}
---
message: "Controller `{{module_name}}` was added successfully."
injections:
- into: {{ values.outputFolder }}/src/models/{{ file_name }}.rs
  after: "pub updated_at: DateTimeWithTimeZone,"
  content: "\tpub {{ tenant_name }}_id: i32,"
---
// Add tenant_id to the entity
{% endfor -%}
{% endif -%}